# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Streamlit
.streamlit/secrets.toml
